{%extends "layout.html"%}
{%block title%}
  SBooks
{%endblock%}
{%block body%}
<header>
  <div class="navbar navbar-light bg-light shadow-sm">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="{{url_for('index')}}">
        <img src="{{url_for('static', filename='assets/sblogo.png')}}" width="60" height="60" alt="" loading="lazy">
      </a>
      <form class="form-inline col-6" action="{{url_for('index')}}" method="post">
        <input autocomplete="off" name="search" class="col-12 form-control searchbar text-center form-field" type="text" placeholder="Search by title, author or ISBN" aria-label="Search">
      </form>
      <a href="{{url_for('logout')}}" class="btn btn-outline-danger">Logout</a>
    </div>
  </div>
</header>

<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {%for b in books%}
        <div class="book-box col-12 col-sm-6">
          <a href="{{url_for('book', book_isbn=b.isbn)}}" style="text-decoration:none;">
            <div style="border-radius:15px;"class="card book">
              <div class="card-body shadow-sm">
                <h5 class="card-title">{{b.title}}</h5>
                <h6 class="card-subtitle text-muted">by {{b.author}} ● {{b.year}}</h6>
              </div>
            </div>
          </a>
        </div>

        {%else%}
          <div class="col-12">
            <h3 class="text-center">No book matches</h3>
          </div>
        {%endfor%}
      </div>
      {%if load%}
      <div class="container text-center py-3">
        <a class="btn button btn-primary" href="{{url_for('load')}}"><strong>Load more</strong></a>
      </div>
      {%endif%}
</main>

{%endblock%}
